<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="format" value="[%-5level] %date %-15logger{15} - %m%n" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

    <logger name="org.dbunit.database.statement" level="debug">

    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>